{% extends 'base.html' %}
{% block content %}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
		
		<h3 style="width:80%;margin-left:10%;margin-top:40px;">Please select the teams you want to vote.</h3>
		<hr class="layui-border-cyan" style="width:80%;margin-left:10%;">
		<form class="layui-form" action="voteTeams" method="post">
			<div class="layui-form" style="width:80%;margin-left:10%;">

						<h4>Group A:</h4>
						
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Qatar" lay-skin="primary" title="Qatar"><img src="images/icons/qatar.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Ecuador" lay-skin="primary" title="Ecuador"><img src="images/icons/Ecuador.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Senegal" lay-skin="primary" title="Senegal"><img src="images/icons/Senegal.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Netherlands" lay-skin="primary" title="Netherlands"><img src="images/icons/qatar.png" class="team-icon"></div>
						</div>
						<h4>Group B:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="England" lay-skin="primary" title="England"><img src="images/icons/England.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="USA" lay-skin="primary" title="the United States"><img src="images/icons/USA.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Iran" lay-skin="primary" title="Iran"><img src="images/icons/Iran.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Wales" lay-skin="primary" title="Wales"><img src="images/icons/Wales.png" class="team-icon"></div>
						</div>
						<h4>Group C:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Argentina" lay-skin="primary" title="Argentina"><img src="images/icons/Argentina.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Mexico" lay-skin="primary" title="Mexico"><img src="images/icons/Mexico.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Poland" lay-skin="primary" title="Poland"><img src="images/icons/Poland.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Saudi Arabia" lay-skin="primary" title="Saudi Arabia"><img src="images/icons/Saudi Arabia.png" class="team-icon"></div>
						</div>
						<h4>Group D:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="France" lay-skin="primary" title="France"><img src="images/icons/France.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Australia" lay-skin="primary" title="Australia"><img src="images/icons/Australia.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Denmark" lay-skin="primary" title="Denmark"><img src="images/icons/Denmark.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Tunisia" lay-skin="primary" title="Tunisia"><img src="images/icons/Tunisia.png" class="team-icon"></div>
						</div>
						<h4>Group E:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Spain" lay-skin="primary" title="Spain"><img src="images/icons/Spain.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Costa Rica" lay-skin="primary" title="Costa Rica"><img src="images/icons/Costa_Rica.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="German" lay-skin="primary" title="German"><img src="images/icons/German.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Japan" lay-skin="primary" title="Japan"><img src="images/icons/Japan.png" class="team-icon"></div>
						</div>
						<h4>Group F:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Belgium" lay-skin="primary" title="Belgium"><img src="images/icons/Belgium.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Canada" lay-skin="primary" title="Canada"><img src="images/icons/Canada.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Morocco" lay-skin="primary" title="Morocco"><img src="images/icons/Canada.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Croatia" lay-skin="primary" title="Croatia"><img src="images/icons/Croatia.png" class="team-icon"></div>
						</div>
						<h4>Group G:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Brazil" lay-skin="primary" title="Brazil"><img src="images/icons/Brazil.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Switzerland" lay-skin="primary" title="Switzerland"><img src="images/icons/Brazil.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Cameroon" lay-skin="primary" title="Cameroon"><img src="images/icons/Cameroon.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Serbia" lay-skin="primary" title="Serbia"><img src="images/icons/Serbia.png" class="team-icon"></div>
						</div>
						<h4>Group H:</h4>
						<div class="group-div">
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Portugal" lay-skin="primary" title="Portugal"><img src="images/icons/Portugal.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Uruguay" lay-skin="primary" title="Uruguay"><img src="images/icons/Uruguay.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Korea" lay-skin="primary" title="South Korea"><img src="images/icons/Korea.png" class="team-icon"></div>
							<div class="team-div"><input type="checkbox" lay-filter="numCheck" name="Ghana" lay-skin="primary" title="Ghana"><img src="images/icons/Ghana.png" class="team-icon"></div>
						</div>	
					
			</div>
			<button class="layui-btn layui-btn-normal" style="width:200px;margin:30px;margin-left:10%;">vote</button>
		</form>
    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
		layui.use('form', function () {
            var form = layui.form;
			
			form.on('checkbox(numCheck)',function(data){
				if(data.elem.checked){
					if($('input[type=checkbox]:checked').length>3){
						alert("At most 3 options!!!!!!");
						$(this).prop("checked", false);
						form.render();						 
					}
				}
			})
			
            form.render();
        });
    </script>
	</body>
{% endblock %}