<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>an interactive platform for soccer fans or potential fans</title>
    <link rel="stylesheet" href="layui-2.6.5/src/css/layui.css">
    <script src="js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="layui-2.6.5/src/layui.js" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {% include "fans_menu.html"  %}
		<fieldset class="layui-elem-field layui-field-title" style="width:80%;margin-left:10%;margin-top: 30px;">
		  <legend>About us</legend>
		</fieldset>
		<div class="layui-collapse" style="width:80%;margin-left:10%;margin-top:30px;">
		   <div class="layui-colla-item">
			<h2 class="layui-colla-title">Users:</h2>
			<div class="layui-colla-content">
			  <p>1. Users are either “hosts” or “fans”, after signing up, they will have globally
unique ID and can set their own password. They can also optionally fill up
their personal information, including birth date, gender, nation, education
background ect. al .
</p>
			  <p>2. Fans can post posts to the forum, like or comment on theirs or others posts to
interact on this platform
</p>
		      <p>3. Users can follow each other</p>
			  <p>4. Hosts can create events that the soccer fans can join at most three events via
the link or the location.
</p>
			</div>
		  </div>
		  <div class="layui-colla-item">
			<h2 class="layui-colla-title">Posts</h2>
			<div class="layui-colla-content">
			  <p>1. Posts are written or edited by users. A post can only have one author, only
the author can edit the post.</p>
			  <p>2. Users may like and comment on each other’s posts.</p>
			</div>
		  </div>
		  <div class="layui-colla-item">
			<h2 class="layui-colla-title">Contingency Plan</h2>
			<div class="layui-colla-content">
			  <p>If one of the teammates drops the class, some parts of the application will be cut-off.</p>
			  <p>- There will be no follow relationship for users</p>
		      <p>- Each event will not have sponsorship information.</p>
			  <p>- There will be no Q&A section for users to ask questions about the website.</p>
			</div>
		  </div>
		</div>
		
    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>