{% extends 'base.html' %}

{% block content %}
    <div class="layui-layout layui-layout-admin">

		<a type="button" class="layui-btn layui-btn-normal" style="margin-top:20px;margin-left:10%;" href="{{ url_for('eventCreate', uid= session["user_id"]) }}">
            <i class="layui-icon" ></i> Create a new event</a>

        <div class="layui-form" style="width:80%;margin-left:10%;">
            <table class="layui-table" id="mytable">
                <thead>
                    <tr>
					    <th>Event ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Event Time</th>
                        <th>Capacity</th>
                        <th>Registration Fee ($)</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in myevents %}
                    <tr>
						<td style="width:140px;"><a>{{ event[0] }}</a></td>
                        <td >{{ event[2] }}</td>
                        <td style="width:140px;">{{ event[3] }}</td>
                        <td style="width:140px;">{{ event[-3] }} to {{ event[-2] }}</td>
                        <td>{{ event[-1] }}</td>
                        <td>{{ event[5] }}</td>
                        <td style="width:200px;">
                            <div class="row">
                                <a class="layui-btn layui-btn-sm" href="{{ url_for('eventDelete', event_id=event[0]) }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
{% endblock %}