{% extends 'base.html' %}

{% block content %}
    <div class="layui-layout layui-layout-admin">
        <div class="layui-form" style="width:80%;margin-left:10%;">
            <table class="layui-table" id="mytable">
                <thead>
                    <tr>
					    <th>Event ID</th>
                        <th>Title</th>
						<th>Host</th>
                        <th>Description</th>
                        <th>Event Time</th>
                        <th>Capacity</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in range(0, len) %}
                    <tr>
						<td style="width:140px;"><a>{{ allevents[i][0] }}</a></td>
                        <td >{{ allevents[i][2] }}</td>
                        <td>{{ names[i][0] }}</td>
                        <td style="width:140px;">{{ allevents[i][3] }}</td>
                        <td style="width:140px;">{{ allevents[i][-3] }} to {{ allevents[i][-2] }}</td>
                        <td>{{ allevents[i][-1] }}</td>
                        <td style="width:200px;">
                            {% if session["user_type"] == 'host' and allevents[i][1] == session['user_id'] %}
                                <div class="row">
                                <a class="layui-btn layui-btn-sm" href="{{ url_for('eventDelete', event_id=allevents[i][0]) }}">Delete</a>
                                </div>
                            {% endif %}
                            <div class="row">
                            <a class="layui-btn layui-btn-sm" href="#">Join</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
{% endblock %}