<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>an interactive platform for soccer fans or potential fans</title>
<link rel="stylesheet" href="css/login.css">
</head>
<body>

	<div class="user-login"></div>
	<h2>Soccer Host Login</h2>
		<form class="layui-form" action="checkHostLogin" method="post">
		  <div class="layui-form-item layui-col-xs12">
		    <div class="layui-input-block">
		      <input type="text" name="username" placeholder="Please input your username" class="user-username">
		    </div>
		  </div>
		  <div class="layui-form-item layui-col-xs12">
		    <div class="layui-input-block">
		      <input type="password" name="password" placeholder="Please input your password" class="user-password">
		    </div>
		  </div>
		  <div class="layui-form-item layui-col-xs10">
		  	<button type="submit" class="login-button">login</button>
		  </div>
		  <a class="other-a" href="fansLogin">Please click here if you are fans.</a>
		</form>

</body>
</html>
