<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>an interactive platform for soccer fans or potential fans</title>
    <link rel="stylesheet" href="layui-2.6.5/src/css/layui.css">
    <script src="js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="layui-2.6.5/src/layui.js" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {% include "fans_menu.html"  %}
		
		<button type="button" class="layui-btn layui-btn-normal" style="margin-top:20px;margin-left:10%;"><i class="layui-icon" ></i> Create a new post</button>

        <div class="layui-form" style="width:80%;margin-left:10%;">
            <table class="layui-table" id="mytable">

                <thead>
                    <tr>
					    <th>Post ID</th>
                        <th>Title</th>
                        <th>Create Time</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in mypost %}
                    <tr>
						<td style="width:140px;"><a>{{ post[0] }}</a></td>
                        <td >{{ post[3] }}</td>
                        <td style="width:140px;">{{ post[2] }}</td>
                        <td style="width:200px;">
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postdelete', post_id=post[0]) }}">delete</a>
							<a class="layui-btn layui-btn-sm" href="{{ url_for('postedit', post_id=post[0]) }}">edit</a>
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postedit', post_id=post[0]) }}">view</a>
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postedit', post_id=post[0]) }}">likes</a>
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postedit', post_id=post[0]) }}">comments</a>
                        </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>