{% extends 'base.html' %}

{% block content %}
    <div class="layui-layout layui-layout-admin">

		<a type="button" class="layui-btn layui-btn-normal" style="margin-top:20px;margin-left:10%;" href="{{ url_for('postCreate', uid= session["user_id"]) }}">
            <i class="layui-icon" ></i> Create a new post</a>

        <div class="layui-form" style="width:80%;margin-left:10%;">
            <table class="layui-table" id="mytable">

                <thead>
                    <tr>
					    <th>Post ID</th>
                        <th>Title</th>
                        <th>Create Time</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in mypost %}
                    <tr>
						<td style="width:140px;"><a>{{ post[0] }}</a></td>
                        <td >{{ post[3] }}</td>
                        <td style="width:140px;">{{ post[2] }}</td>
                        <td style="width:200px;">
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postDelete', post_id=post[0]) }}">Delete</a>
							<a class="layui-btn layui-btn-sm" href="{{ url_for('postEdit', post_id=post[0]) }}">Edit</a>
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postView', post_id=post[0]) }}">View</a>
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('like', post_id=post[0]) }}">Likes</a>
                        </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
{% endblock %}