{% extends 'base.html' %}

{% block content %}
    <div class="layui-layout layui-layout-admin">
        <div class="layui-form" style="width:80%;margin-left:10%;">
            <table class="layui-table" id="mytable">
                <thead>
                    <tr>
					    <th>Post ID</th>
                        <th>Title</th>
						<th>Author</th>
                        <th>Posted Time</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in range(0, len) %}
                    <tr>
						<td style="width:140px;"><a>{{ allpost[i][0] }}</a></td>
                        <td >{{ allpost[i][3] }}</td>
                        <td>{{ names[i][0] }}</td>
                        <td style="width:140px;">{{ allpost[i][2] }}</td>
                        <td style="width:200px;">
                            {% if allpost[i][1] == session["user_id"] %}
                                <a class="layui-btn layui-btn-sm" href="{{ url_for('postDelete', post_id=allpost[i][0]) }}">Delete</a>
							    <a class="layui-btn layui-btn-sm" href="{{ url_for('postEdit', post_id=allpost[i][0]) }}">Edit</a>
                            {% endif %}
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('postView', post_id=allpost[i][0]) }}">View</a>
                            <a class="layui-btn layui-btn-sm" href="{{ url_for('like', post_id=allpost[i][0]) }}">Likes</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
{% endblock %}