{% extends 'base.html' %}
{% block content %}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

	<a type="button" href="raiseQuestion" class="layui-btn layui-btn layui-btn-normal" style="margin-left:10%;margin-top:20px;"><i class="layui-icon"></i> raise a question</a>

	{% for question in questions %}
	<div class="panel panel-success" style="width:80%;margin-left:10%;margin-top:20px;border:#C7EDCC 1px solid;padding:20px;border-radius:5px;">
		<div class="panel-heading">
			<h5 class="panel-title">{{question.title}}</h5>
			<p class="panel-title">{{question.name}} raised at {{question.question_time}}</p>
		</div>
		<hr class="layui-border-cyan">
		<div class="panel-body">
			<h1>{{question.content}}</h1>
		</div>
	</div>
	{% endfor %}
    </div>
</body>
{% endblock %}
