<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>an interactive platform for soccer fans or potential fans</title>
<link rel="stylesheet" href="css/login.css">
<script src="js/jquery-3.3.1.min.js" ></script>
<script src="js/reg.js" ></script>
<link rel="stylesheet" href="layui-2.6.5/src/css/layui.css">
<script src="layui-2.6.5/src/layui.js" charset="utf-8"></script>
</head>
<body>
	<div class="user-login" style="height:800px;"></div>
	<h2 style="margin-left:-150px;">Fans Register</h2>

	<form class="layui-form" action="fansReg" method="post" id="form">

		<input type="text" name="username" placeholder="Please input your email" id="username" class="user-username">


		<input type="password" name="password" placeholder="Please input your password" id="password" class="user-password">

		<input type="password" placeholder="Please input your password again" id="again" class="user-password2">


		<input type="text" name="name" placeholder="Please input your name" id="name" class="user-name">


		<input type="text" name="nation" placeholder="Please input your Nation" id="nation" class="user-phone">

		<div class="user-sex" style="margin-left:-250px;">
			<label class="layui-form-label" style="color:#fff;">Gender</label>
			<div class="layui-input-block" style="width:270px;">
				<select class="layui-input" name="gender" >
					<option>M</option>
					<option>F</option>
					<option>Other</option>
				</select>
			</div>
		</div>

		<input type="text" name="birthday" placeholder="Please input your Birthday" id="birthday" class="user-birthday">

		<div class="user-type" style="margin-left:-250px;">
			<label class="layui-form-label" style="color:#fff;">User type</label>
			<div class="layui-input-block" style="width:270px;">
				<select class="layui-input" name="gender" >
					<option>fans</option>
					<option>host</option>
				</select>
			</div>
		</div>

		<button type="button" class="reg-button2" id="reg_btn">Register</button>
		<button type="button" class="login-button2" onclick="javascript:window.location.href='fansLogin';">Login</button>

	</form>

	<script>
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  laydate.render({
	    elem: '#birthday'
	    ,format: 'yyyy-MM-dd'
      });
	layui.use('form', function(){
		var form = layui.form
		form.render();
	});
	layui.use('element', function(){
		var element = layui.element;
		element.init()
	});
});
</script>

</body>
</html>
